neurofeedback/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
**/*.dylib filter=lfs diff=lfs merge=lfs -text
neurofeedback/Library filter=lfs diff=lfs merge=lfs -text
neurofeedback/Assets filter=lfs diff=lfs merge=lfs -text
neurofeedback/Library/** filter=lfs diff=lfs merge=lfs -text
neurofeedback/Assets/** filter=lfs diff=lfs merge=lfs -text
neurofeedback/Assets/**/* filter=lfs diff=lfs merge=lfs -text
neurofeedback/Library/**/* filter=lfs diff=lfs merge=lfs -text
